.destaque {
    font-weight: 600;
}
body {
    display: grid;
    justify-self: center;
}

.servico-container {
    padding: 60px;
}
.servico-titulo {
    background: var(--cor-principal);
    padding: 60px;
}
.servico-titulo h1 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-p6);
    text-transform: uppercase;
}
.servico-conteudo h2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}
.servico-conteudo h3 {
    font-weight: 550;
    font-size: 1.275rem;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0 18px 0;
}

.servico-conteudo p{
    max-width: 90ch;
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 8px;
}

.servico-container {
    display: grid;
    /* justify-items: center; */
}

@media(max-width: 600px){
   
    .js .cabecalho-container {
        display: flex;
    }
    .cabecalho-container ul li a{
        display: inline-block;
        margin-left: 20px;
    }
    .cabecalho-container ul li a::after {
        display: none;
    }
    
    .cabecalho-container ul li:hover a::after {
        display: none;
    }
    .js [data-menu="botao"] {
        display: flex;
        border: none;
        padding: 18px 22px 18px 44px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.125rem;
        letter-spacing: 1.2px;
        font-family: 'poppins', sans-serif;
        font-weight: 600;
        background: var(--cor-principal);
        color: var(--cor-branco);
        border-radius: 8px;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .5);
        align-items: center;
        position: relative;
        z-index: 300;
    }
    
    .js [data-menu="botao"]::before {
    margin-right: 4px;
    content: '';
    display: flex;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform .3s;
    position: absolute;
    left: 22px;
    }

    .js [data-menu="botao"].ativo::before {
    transform: rotate(90deg);
    transition: .3s;
    }
    .js [data-menu="lista"]{
        display: none;
    }
    .js [data-menu="botao"].ativo {
        left: 50px;
        top: 50px;
        position: fixed;
    }
    .js [data-menu="lista"].ativo {
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 100% ;
    z-index: 200;
    top: 0px;
    right: 0px;
    padding-top: 130px;
    box-shadow: 8px 8px 4px 0 rgba(0,0,0,.2);
    border-radius: 8px;
    transition: .3s;
    }
}
