header {
    background-color: rgba(15, 79, 124, .125);
}

.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.cabecalho-container ul {
    display: flex;
}

.cabecalho-container ul li {
    margin-left: 32px;
}



.cabecalho-container ul li a {
    font-size: 1.25rem;
    font-family: 'poppins', sans-serif;
    color: var(---cor-p6);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 20px;
    position: relative;
}

.cabecalho-container ul li a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    bottom: -6px;
    background-color: var(--cor-p6);
    position: absolute;
    transition: .3s;
}

.cabecalho-container ul li:hover a::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--cor-p6);
    position: absolute;
}

@media (max-width: 1300px) {
    .cabecalho-container {
        display: grid;
        justify-items: center;
        gap: 30px;
    }
}
