footer {
    background-color: rgba(15, 79, 124, .125);
    padding: 60px;
}

.rodape-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}


.rodape-container div p {
    font-size: 1.275rem;
    font-family: 'roboto', sans-serif;
}

.rodape-container ul {
    display: flex;
    gap: 40px;
}

.rodape-container ul li img {
    width: 30px
}

@media (max-width: 1100px){
    .rodape-container div p {
        font-size: 1rem;
    }
}